<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-3">
              <h4>AR Collections </h4>
            </div>
            <div class="col-md-6">
              <%=form_tag credit_collections_path, method: :get do %>
                <div class="input-group stylish-input-group" id="product-prefetch">
                  <%= autocomplete_field_tag "full_name", params[:full_name], autocomplete_customer_full_name_customers_path, class: 'form-control', placeholder: 'Enter Customer Name...' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
            <div class="col-md-3">
              <%#=link_to "Add Interests", accounts_receivables_interests_path, method: :post, class: "btn btn-primary" %>
              <span class="pull-right">
                <%=link_to 'Print Report', credit_collections_path(format: 'pdf'), class: "btn btn-danger" %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Customer </th>
                <th>Principal</th>
                <th>Interest</th>
                <th>Payment</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <% @members.each do |member| %>
                <tr>
                  <td><%= member.last_payment_created_at.strftime("%B %e, %Y") %></td>
                  <td>
                    <%=image_tag(member.profile_photo.url(:small), class: 'img-circle', height: 35, width: 35) %>
                    <%=link_to member.full_name, account_details_customer_path(member) %>
                  </td>
                  <td><%=number_to_currency member.last_total_balance %></td>
                  <td><%=number_to_currency member.unpaid_interest %></td>
                  <td><%=number_to_currency member.entries.credit_payment.last.credit_amounts.sum(:amount) %></td>
                  <td><%=number_to_currency member.total_remaining_balance %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
