<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Repair Details </h4>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
          </ul>
          <%=simple_form_for @service_charge, url: :service_fees, remote: true do |f| %>
          <%=f.error_notification %>
            <%= f.input :device_description, label: 'Device Description', as: :text %>
            <%=f.input :description, label: 'Repair / Maintenance Description', as: :text %>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :quantity, input_html: {value: 1} %>
              </div>
              <div class="col-md-6">
                <%=f.input :unit, input_html: {value: "unit"} %>
              </div>
            </div>
            <%= f.input :unit_cost, label: "Amount" %>
            <div class="modal-footer">
              <%= link_to "Cancel", "#", class: "btn pull-left", data: {dismiss: "modal"} %>
              <%=f.submit "Save", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>