<div class="tab-pane <%='active' if current_page? account_details_customer_path %>">
  <div class="row">
    <div class="col-md-12">
      <%= form_tag({:action => "account_details", controller: "customers", format: 'pdf', customer_id: @member.id}, {:method => :get})  do %>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <%= text_field_tag :from_date, @from_date, :class => 'from-date datepicker-reporting form-control border-input', :placeholder => "From " %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= text_field_tag :to_date, @to_date, :class => 'to-date form-control border-input datepicker-reporting', :placeholder => "To " %>
            </div>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-success" id="viewReport"><i class="fa fa-print"></i> View Report </button>
            <span class='pull-right'>
              <%=link_to scope_to_date_customer_line_items_path(@member, :from_date => Time.zone.now.beginning_of_year, :to_date => Time.zone.now.end_of_year, format: 'pdf')  do %>
                <btn class="btn btn-info"><i class="fa fa-print"></i> View Report(Full) </btn>
              <% end %>
            </span>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date </th>
        <th>Reference Number </th>
        <th>Principal</th>
        <th>Interest</th>
        <th>Payment</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%=order.date.strftime("%B %e, %Y") %></td>
        <td><%=order.invoice_number.try(:number) %></td>
        <td><%=number_to_currency order.total_amount_less_discount %></td>
        <td><%= number_to_currency order.total_interest %></td>
        <td><%= number_to_currency order.total_payment %></td>
        <td><%= number_to_currency order.balance %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
