<div class="tab-pane <%='active' if current_page? payments_customer_path %>">
  <div class="row">
    <div class="col-md-12">
      <%= form_tag({:action => "payments", controller: "customers", format: 'pdf', customer_id: @member.id}, {:method => :get})  do %>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <%= text_field_tag :from_date, @from_date, :class => 'from-date datepicker-reporting form-control border-input', :placeholder => "From " %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= text_field_tag :to_date, @to_date, :class => 'to-date form-control border-input datepicker-reporting', :placeholder => "To " %>
            </div>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-success" id="viewReport"><i class="fa fa-print"></i> View Report </button>
            <span class='pull-right'>
              <%=link_to scope_to_date_customer_line_items_path(@member, :from_date => Time.zone.now.beginning_of_year, :to_date => Time.zone.now.end_of_year, format: 'pdf')  do %>
                <btn class="btn btn-info"><i class="fa fa-print"></i> View Report(Full) </btn>
              <% end %>
            </span>
          </div>
          <div class="col-md-3">
            <% if @member.with_credits? %>
              <span class='pull-right'><%=link_to 'New Payment', new_customer_payment_path(@member), class: 'btn btn-primary' %> </span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date </th>
        <th>Reference Number </th>
        <th>Payment</th>
        <th>Interest</th>
        <th>Discount</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @payment_entries.each do |payment| %>
      <tr>
        <td><%=payment.date.strftime("%B %e, %Y") %></td>
        <td><%=payment.reference_number %></td>
        <td><%= number_to_currency payment.credit_amounts.first.amount %></td>
        <td><%= number_to_currency payment.credit_amounts.second.amount %></td>
        <td><%= number_to_currency payment.credit_amounts.third.amount %></td>
        <td><%= number_to_currency (payment.credit_amounts.first.amount + (payment.credit_amounts.second.amount - payment.credit_amounts.third.amount)) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function(){
    $('#viewReport').prop('disabled',true);
    $('.to-date').click(function(){
      $('#viewReport').prop('disabled', this.value == "" ? true : false);     
    })
  });
</script>
