<div class="tab-pane <%='active' if current_page? purchases_customer_path %>">
  <div class="row">
    <div class="col-md-12">
      <%= form_tag({:action => "purchases", controller: "customers", format: 'pdf', customer_id: @member.id}, {:method => :get})  do %>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= text_field_tag :from_date, @from_date, :class => 'from-date datepicker-reporting form-control border-input', :placeholder => "From " %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= text_field_tag :to_date, @to_date, :class => 'to-date form-control border-input datepicker-reporting', :placeholder => "To " %>
            </div>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-success" id="viewReport"><i class="fa fa-print"></i> View Report </button>
            <span class='pull-right'>
              <%=link_to scope_to_date_customer_line_items_path(@member, :from_date => Time.zone.now.beginning_of_year, :to_date => Time.zone.now.end_of_year, format: 'pdf')  do %>
                <btn class="btn btn-info"><i class="fa fa-print"></i> View Report(Full) </btn>
              <% end %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th> Date </th>
        <th> Items </th>
        <th> Qty </th>
        <th>Unit Cost</th>
        <th>Sub Total </th>
        <th>Discount</th>
        <th>Interest</th>
        <th><span class="pull-right"> Total Cost </span></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cash_transactions.each do |order| %>
        <tr>
          <td>
            <%=order.date.strftime("%B %e, %Y") %>
          </td>
          <td>
            <% if !order.catering? %>
              <% order.line_items.each do |line_item| %>
                <p>
                  <%= line_item.stock.product.name_and_description %>             
                </p>
              <% end %>
            <% else %>
              <% order.meals_and_snacks.each do |line_item| %>
                <p>
                  <%= line_item.description %>             
                </p>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if !order.catering? %>
              <% order.line_items.each do |line_item| %>
                <p>
                  <%= line_item.quantity %> <%= line_item.stock.product.unit %>
                </p>
              <% end %>
            <% else %>
              <% order.meals_and_snacks.each do |line_item| %>
                <p>
                  <%= line_item.quantity %> <%= line_item.unit %>
                </p>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if !order.catering? %>
              <% order.line_items.each do |line_item| %>
                <p>
                  <%= number_to_currency line_item.unit_price %>
                </p>
              <% end %>
            <% else %>
              <% order.meals_and_snacks.each do |line_item| %>
                <p>
                  <%= number_to_currency line_item.unit_cost %>
                </p>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if !order.catering? %>
              <% order.line_items.each do |line_item| %>
                <p>
                  <%= number_to_currency line_item.total_price %>
                </p>
              <% end %>
            <% else %>
              <% order.meals_and_snacks.each do |line_item| %>
                <p>
                  <%= number_to_currency line_item.total_cost %>
                </p>
              <% end %>
            <% end %>
          </td>
          <td><%=number_to_currency order.discount.try(:amount) %></td>
          <td>
            <% if !order.catering? %>
              <%= number_to_currency order.total_interest %>
            <% end %>
          </td>
          <td><span class='pull-right'><%=number_to_currency order.total_amount_less_discount_plus_interest %></span></td>
          <td><%=order.pay_type.try(:titleize) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function(){
    $('#viewReport').prop('disabled',true);
    $('.to-date').click(function(){
      $('#viewReport').prop('disabled', this.value == "" ? true : false);     
    })
  });
</script>