<div class="tab-pane <%='active' if current_page? barcode_product_path %>">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @barcodes.each do |barcode| %>
        <tr>
          <td><%=barcode.code %></td>
          <td>
            <%= link_to "Edit", edit_product_barcode_path(product_id: @product.id, id: barcode.id), class: 'btn btn-success btn-xs', remote: true %>
            &nbsp &nbsp &nbsp
            <%= link_to "Delete", product_barcode_path(product_id: @product.id, id: barcode.id), method: :delete, data: {confirm: "Are you sure to delete this barcode?" }, class: 'btn btn-danger btn-xs' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="modal-footer">
    <center><%= paginate @barcodes, :window => 1 %></center>
  </div>
</div>
<div id="barcode-modal" class="modal fade"></div>
