<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h4> Edit Stock</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <h4 class="text-center"><%= @product.name_and_description %></h4>
            <center class="text-muted ">Product Name</center>
            <hr>
            <h4 class="text-center"><%= @product.in_stock %></h4>
            <center class="text-muted text-center">In-Stock</center>
            <hr>
            <h4 class="text-center"><%= number_to_currency(@product.retail_price) %></h4>
            <center class="text-muted text-center">Retail</center>
          </div>
          <div class="col-md-8">
            <%=simple_form_for [@product, @stock] do |f| %>
              <%=f.error_notification %> 
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :reference_number %>
                </div>
                <div class="col-md-6">
                  <%=f.input :date, as: :string, label: 'Date Purchased', input_html: {class: "datepicker"} %>
                </div>
              </div>
              <div class="no-padding"><hr></div>
              <h4 class="text-muted">Supplier Details</h4>
              <div class="row">
                <div class="col-md-8">
                  <span class="pull-right"><%= link_to "New Supplier?", new_supplier_path, class: 'btn btn-success btn-xs', remote: true %></span>
                  <%=f.input :supplier_id, collection: Supplier.all.map{ |a| [a.business_name, a.id]} %>
                </div>
                <div class="col-md-4">
                  <%=f.input :payment_type, collection: Stock.payment_types.keys.to_a.map { |s| [s.titleize, s] }%>
                </div>
              </div>
              <h4 class="text-muted">Freight In Details </h4>
              <div class="row">
                <div class="col-md-4">
                  <input type="checkbox" name="freight" class="btn" id="has-freight">
                </div>
                <div class="col-md-8" id='freight-details' style="display:none;">
                  <div class="form-group has-warning">
                    <%=f.input :freight_amount, input_html: {id: 'freight-amount', oninput: 'calculateTotalPurchase()'}%>
                    </div>
                  </div>
                </div>
              </div>
              <div class="no-padding"><hr></div>
              <div class="row">
                <div class="col-md-4">
                  <label>Purchase Quantity (<%= @stock.product.unit%>)</label>
                  <%=f.input :quantity, label: false, input_html: { class: 'input-lg', oninput: 'calculateTotalPurchase()'}  %>
                </div>
                <div class="col-md-4">
                  <label>Purchase Price / <%= @stock.product.unit%></label>
                  <%=f.input :unit_cost, label: false, input_html: { class: 'input-lg', oninput: 'calculateTotalPurchase()'}  %>
                </div>
                <div class="col-md-4">
                  <%=f.input :total_cost, input_html: { class: 'input-lg' }, label: 'Total Cost', readonly: true %>
                </div>
              </div>
              <div class="modal-footer">
                <%=f.submit "Save Stock", class: "btn btn-primary" %>
                <span class='pull-left'><%=link_to 'Cancel', stock_histories_product_path(@product), class: 'btn btn-default' %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="product-modal" class="modal fade"></div>
<div id="supplier-modal" class="modal fade"></div>
<script>
  $(document).ready(function(){
    $('.saveStock').prop('disabled',true);
    $('#stock_quantity').change(function(){
      $('.saveStock').prop('disabled', this.value == "" ? true : false);     
    })
  });
</script>

<script>
  $(document).ready(function() {
    $("#stock_supplier_id").select2({
      theme: "bootstrap"
    });
  });
</script>