<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h4> <%=@product.name_and_description %> &nbsp &nbsp <% if (@stock.out_of_stock? || @stock.expired? || @stock.low_stock?) %>
              <small class='label label-danger'><%=@stock.status %></small>
            <% end %>
          </h4>
          
          <i class="fa fa-user"></i> Employee: <%=@stock.employee.try(:full_name)%><br>
          <span> Date of Purchase: <%=@stock.date.strftime("%B %e,%Y") %></span>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            Supplier:
          </div>
          <div class="col-md-8">
            <%=@stock.supplier %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Purchase Quantity:
          </div>
          <div class="col-md-8">
            <%=@stock.quantity %> <%=@stock.product.unit %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            In Stock:
          </div>
          <div class="col-md-8">
            <%=@stock.in_stock %> <%=@stock.product.unit %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Purchase Price:
          </div>
          <div class="col-md-8">
            <%=number_to_currency @stock.unit_cost %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Total Cost:
          </div>
          <div class="col-md-8">
            <%=number_to_currency @stock.total_cost %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Expiry Date:
          </div>
          <div class="col-md-8">
            <%= @stock.expiry_date.strftime("%B %e,%Y") if @stock.expiry_date.present? %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            Transaction Type:
          </div>
          <div class="col-md-8">
            <%= @stock.payment_type %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="pull-left">
            <%= link_to "Back", stock_histories_product_path(@product), class: 'btn btn-default' %>
          </div>
          <div class="pull-right">
            <% if @stock.discontinued? %>
              <%= link_to "Active", stock_continue_path(@stock), class: 'btn btn-warning', data: {confirm: "You are about to set this stock to 'active'. By doing so will remove this expense from entries. Do you wish to continue? "} %>
            <% else %>
              <%= link_to "Transfer Stock", new_stock_stock_transfer_path(@stock), class: 'btn btn-warning', data: {confirm: "You are about to transfer this stock to another branch store. Do you wish to continue? "} %>
              <%= link_to "Return Stock", new_stock_refund_path(@stock), class: 'btn btn-warning', data: {confirm: "You are about to return this stock. By doing so will refund the amount you have entered. Do you wish to continue? "} unless @stock.returned? %>
              <%= link_to "Discontinue", stock_discontinue_path(@stock), class: 'btn btn-danger', data: {confirm: "You are trying to discontinue selling this stock. By doing so will be listed to entries as an expense. Do you wish to continue? "} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

                    