<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Interest Program </h4>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
          </ul>
          <%=simple_form_for @program, remote: true do |f| %>
          <%=f.error_notification %>
            <%=f.input :name, autofocus: true %>
            <%=f.input :interest_rate, label: "Interest Rate (%)" %>
            <%= f.input :number_of_days %>
            <%= f.input :accounts_receivable_account_id, collection: Accounting::Account.all.map{|a| [a.name, a.id] } %>
            <%= f.input :accounts_receivable_interest_account_id, collection: Accounting::Account.all.map{|a| [a.name, a.id] } %>

            <div class="modal-footer">
              <%= link_to "Cancel", "#", class: "btn pull-left", data: {dismiss: "modal"} %>
              <%=f.submit "Save Program", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
