<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h4>Category Settings
            <span class="pull-right">
              <%=link_to 'New Category', new_category_path, class: 'btn btn-primary', remote: true %>
            </span>
          </h4>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <%= render @categories %>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h4>Interest Program Settings
            <span class="pull-right">
              <%=link_to 'New Program', new_program_path, class: 'btn btn-primary', remote: true %>
            </span>
          </h4>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <td>Name</td>
              <td>Rate</td>
              <td>Number of Days</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <% @programs.each do |program| %>
              <tr>
                <td><%= program.name %></td>
                <td><%= program.interest_rate %> %</td>
                <td><%= program.number_of_days %></td>
                <td>
                  <%=link_to edit_program_path(program), remote: true do %>
                    <span class="text-primary"><i class="fa fa-pencil" title="Edit" data-toggle='tooltip'></i></span>
                  <% end %>
                  &nbsp&nbsp&nbsp
                  <% if program.products.blank? %>
                    <%= link_to program_path(program), method: :delete, title: 'Delete Program', data: {confirm: 'Are you sure you want to delete this program? This action can not be undone.'} do %>
                        <span class="text-danger" title="Delete Program" data-toggle='tooltip'><i class="fa fa-trash"></i></span>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h4> Users <span class="badge"><%=Employee.count %> </span>
            <span class="pull-right">
              <%=link_to new_employee_path do %>
                <span class="btn btn-primary"><i class="fa fa-user-plus"></i> New User</span>
              <% end %>
            </span>
          </h4>
        </div>
      </div>
      <div class="card-body">
        <% Employee.all.each do |user| %>
          <%=link_to info_user_path(user), class: 'text-muted' do %>
            <div class="row">
              <div class="col-md-3">
                <%=image_tag(user.profile_photo.url(:thumb), height: 40, width: 40, class: 'img-circle') %>
              </div>
              <div class="col-md-4">
                <%=user.full_name %>
              </div>
              <div class="col-md-4">
                <%=user.role.try(:titleize) %>
              </div>
            </div>
          <% end %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <% if current_user.developer? %>
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <div class="row">
              <div class="col-md-6">
                <h4>Import Products</h4>
              </div>
              <div class="col-md-6">
                <% if Product.all.present? %>
                  <%=link_to export_products_path(format: :xlsx) do %>
                    <span class="btn btn-default pull-right"><i class="fa fa-file-text-o"></i> Export (Excel)</span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= form_tag import_products_path, multipart: true do %>
            <div class="input-group stylish-input-group">
              <%= file_field_tag :file, class: 'form-control' %>
              <span class="input-group-btn">
                <%= submit_tag 'Import', class: 'form-control btn btn-primary' %>
              </span>
            </div>
          <% end %>
          <br>
          <p class="text-muted">*To import products in "csv" format, you need to match the header of the csv file to the following: <b>name</b>, <b>description</b>, <b>unit</b>, <b>retail_price</b>, <b>wholesale_price</b>, <b>stock_alert_count</b>.</p>
        </div>
      </div>
      <% if Product.all.present? %>
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="row">
                <div class="col-md-6">
                  <h4>Import Stocks</h4>
                </div>
                <div class="col-md-6">
                  <% if Stock.all.present? %>
                    <%=link_to export_stocks_path(format: :xlsx) do %>
                      <span class="btn btn-default pull-right"><i class="fa fa-file-text-o"></i> Export (Excel)</span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <%= form_tag import_stocks_path, multipart: true do %>
              <div class="input-group stylish-input-group">
                <%= file_field_tag :file, class: 'form-control' %>
                <span class="input-group-btn">
                  <%= submit_tag 'Import', class: 'form-control btn btn-primary' %>
                </span>
              </div>
            <% end %>
            <br>
            <p class="text-muted">*To import stocks in "csv" format, you need to match the header of the csv file to the following: </p>
          </div>
        </div>
      <% end %>
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h4>Import Barcodes</h4>
          </div>
        </div>
        <div class="card-body">
          <%= form_tag import_barcodes_path, multipart: true do %>
            <div class="input-group stylish-input-group">
              <%= file_field_tag :file, class: 'form-control' %>
              <span class="input-group-btn">
                <%= submit_tag 'Import', class: 'form-control btn btn-primary' %>
              </span>
            </div>
          <% end %>
          <br>
          <p class="text-muted">*To import barcodes in "csv" format, you need to match the header of the csv file to the following: <b>id</b>, <b>product_id</b>, <b>code</b>.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <div class="row">
              <div class="col-md-6">
                <h4>Import Members</h4>
              </div>
              <div class="col-md-6">
                <% if Member.all.present? %>
                  <%=link_to export_customers_path(format: :xlsx) do %>
                    <span class="btn btn-default pull-right"><i class="fa fa-file-text-o"></i> Export (Excel)</span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= form_tag import_customers_path, multipart: true do %>
            <div class="input-group stylish-input-group">
              <%= file_field_tag :file, class: 'form-control' %>
              <span class="input-group-btn">
                <%= submit_tag 'Import', class: 'form-control btn btn-primary' %>
              </span>
            </div>
          <% end %>
          <br>
          <p class="text-muted">*To import members in "csv" format, you need to match the header of the csv file to the following: <b>last_name</b>, <b>first_name</b></p>
        </div>
      </div>
    <% end %>
  </div> 
</div>
<div id="category-modal" class="modal fade"></div>
<div id="program-modal" class="modal fade"></div>
<div id="business-modal" class="modal fade"></div>
<div id="warranty-modal" class="modal fade"></div>
<div id="regular-rate-modal" class="modal fade"></div>
<div id="irregular-rate-modal" class="modal fade"></div>