<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Customer</h4>
    </div>
    <%=simple_form_for @member, remote: true do |f| %>
    <%= f.error_notification %>
      <div class="modal-body">
        <ul class="errors text-danger">
        </ul>
        <label>Select Customer Type</label>
        <%=f.input :type, label: false, collection: Customer.types, as: :radio_buttons, checked: Member.types.first, item_label_class: "radio-inline", item_wrapper_tag: false, input_html: {id: "customer-type"} %>
        <div class="row" id="member-name">
          <div class="col-md-4">
            <%=f.input :first_name %>
          </div>
          <div class="col-md-4">
            <%=f.input :last_name %>
          </div>
          <div class="col-md-4">
            <%=f.input :middle_name %>
          </div>
        </div>
        <div id="organization-name">
          <%=f.input :first_name, label: "Name" %>
          <%=f.input :last_name, input_html: {value: "."}, as: :hidden  %>
        </div>
        <%=f.input :mobile %>
        <%=f.input :member_type, input_html: {value: "regular"}, as: :hidden %>
        <hr>
        <p class="category"> Address Details </p>
        <%=f.simple_fields_for :address do |a| %>
          <div class="row">
            <div class="col-md-6">
              <%=a.input :street %>
            </div>
            <div class="col-md-6">
              <%=a.input :barangay %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%=a.input :municipality, input_html: { value: "Asipulo" } %>
            </div>
            <div class="col-md-6">
              <%=a.input :province, input_html: { value: "Ifugao" } %>
            </div>
          </div>
        <% end %>

      <div class="modal-footer">
        <%#= link_to 'Cancel', monitoring_project_path(@project), class: 'btn btn-default pull-left' %>
        <%= link_to "Cancel", "#", class: "btn btn-default pull-left", data: {dismiss: "modal"} %>
        <%=f.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('input[type="radio"]').click(function() {
      if ($(this).attr("value") == "Organization") {
        $('#organization-name').show();
        $('#member-name').hide();
      }
      else {
        $('#organization-name').hide();
        $('#member-name').show();
      }
    });
    $('input[type="radio"]').trigger('click');
  });
</script>