<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-2">
              <h4>Sales</h4>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="title text-center"><%=number_to_currency @cash_sales %></h4>
                  <h5 class="text-muted text-center">DAILY CASH SALES</h5>
                </div>
                <div class="col-md-4">
                  <h4 class="title text-center"><%=number_to_currency @credit_sales %></h4>
                  <h5 class="text-muted text-center">DAILY CREDIT SALES</h5>
                </div>
                <div class="col-md-4">
                  <h4 class="title text-center"><%=number_to_currency @total_sales %></h4>
                  <h5 class="text-muted text-center">DAILY TOTAL SALES</h5>
                </div>
              </div>
              <hr>
            </div>
            <div class="col-md-2">
              <%#= link_to "Consignment Sales", new_accounting_sales_entry_path, class: "btn btn-success pull-right" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <%=form_tag sales_and_repairs_orders_path, method: :get do %>
                <div class="input-group stylish-input-group" id="product-prefetch">
                  <%= autocomplete_field_tag "full_name", params[:full_name], autocomplete_customer_full_name_customers_path, class: 'form-control', placeholder: 'Enter Customer Name...' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Customer </th>
                <th>Invoice </th>
                <th>Date </th>
                <th>Total Sales </th>
                <th>Cost of Goods Sold </th>
                <th> Income </th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= link_to order.customer.try(:full_name) || 'Guest', order %></td>
                  <td><%= order.invoice_number.try(:number) %></td>
                  <td><%= order.date.strftime('%B %e, %Y') %></td>
                  <td><%= number_to_currency order.total_amount %></td>
                  <td><%= number_to_currency order.cost_of_goods_sold%></td>
                  <td><%= number_to_currency order.income %>
                  <td><%= order.pay_type %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="modal-footer">
            <center><%= paginate @orders %></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>