<%=link_to "Print Invoice", print_invoice_order_path(@order, format: 'pdf'), class: 'btn btn-primary btn-lg' %>
<%#=link_to "Print OR", order_path(@order, format: 'pdf'), class: 'btn btn-primary btn-lg' %>
<%=link_to "Back to Store", sales_and_repairs_index_path, class: 'btn btn-default btn-lg active', autofocus: true %>
