<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="card-header">
        <div class="card-title"> <h4>Payment Details </h4></div>
      </div>
      <div class="card-body">
        <span class="title">Total Remaining Balance: <%= number_to_currency @supplier.total_remaining_balance %></span>
        <hr>
        <%= simple_form_for @entry, url: :supplier_payments do |f| %>
        <%= f.error_notification %>
          <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%=f.input :reference_number %>
              <%=f.input :description %>
        <%=f.simple_fields_for :debit_amounts do |ff| %>
        <%=ff.input :amount %>
        <%=ff.input :account_id, input_html: { value: Accounting::Account.find_by(name: "Accounts Payable-Trade").id}, readonly: true, as: :hidden %>
        <% end %>
        <%=f.simple_fields_for :credit_amounts do |ff| %>
        <%=ff.input :amount, as: :hidden %>
        <%=ff.input :account_id, input_html: { value: Accounting::Account.find_by(name: "Cash on Hand - Teller").id}, readonly: true, as: :hidden %>
        <% end %>
        <div class="modal-footer">
          <%= link_to "Cancel", credit_stocks_supplier_path(@supplier), class: 'btn btn-default pull-left' %>
          <%= f.submit 'Save Payment', class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
