<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-12">
              <span class="pull-right">
                <%= link_to "Add Repairs/Maintenance", new_service_fee_path, class: 'btn btn-warning', remote: true %>
              </span>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <% if params[:name_and_description].present? %>
                <%=form_tag sales_and_repairs_index_path, method: :get do %>
                  <div class="input-group" id="product-prefetch">
                    <%= autocomplete_field_tag "name_and_description", params[:name_and_description], autocomplete_product_name_and_description_products_path, class: 'form-control input-lg', placeholder: 'Search Items...' %>
                    <span class="input-group-btn">
                      <%= button_tag(type: 'submit', class: "btn btn-flat btn-lg") do %>
                        <i class="fa fa-search"></i>
                      <% end %>
                    </span>
                  </div>
                <% end %>
              <% else %>
                <%=form_tag sales_and_repairs_index_path, method: :get do %>
                  <div class="input-group">
                    <%= autocomplete_field_tag "name_and_description", params[:name_and_description], autocomplete_product_name_and_description_products_path, autofocus: true, class: 'form-control input-lg', placeholder: 'Search Items...' %>
                    <span class="input-group-btn">
                      <%= button_tag(type: 'submit', class: "btn btn-flat btn-lg") do %>
                        <i class="fa fa-search"></i>
                      <% end %>
                    </span>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
          <% if params[:name_and_description].present? && @stocks.count > 0 %>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Product</th>
                  <th class="text-right" width="110px">Price </th>
                  <th class="text-center">QTY </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @stocks.available.each do |stock| %>
                  <% if stock.out_of_stock? %>
                    <tr><td colspan="4" class="text-center text-muted"><h3>Out of Stock!</h3></td></tr>
                  <% else %>
                    <tr>
                      <td>
                        <h5><%=stock.product.name_and_description %></h5>
                        <p class="text-muted">Remaining: <%=stock.in_stock%> <%=stock.product.unit%></p>
                      </td>
                      <%=simple_form_for @line_item, url: :line_items do |f| %>
                      <%=f.error_notification %>
                      
                        <td width="120px">
                          <div class="pull-right"> 
                            <%=f.input :unit_price, input_html: { value: stock.product.retail_price}, label: false %>
                          </div>
                        </td>
                        <td width="120px">
                          <%=f.input :stock_id, input_html: {value: stock.id }, as: :hidden %>
                          <div class="pull-right">
                            <%=f.input :quantity, input_html: {value: 1, max: stock.quantity}, autofocus: true, label: false %>
                          </div>
                        </td>
                        <td width="60px">
                          <div class="pull-right">
                            <%=f.submit "Add", data: {disable_with: "Adding Product..."}, class: "btn btn-primary btn-sm active" %>
                          </div>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% elsif @stocks.count.zero? && params[:name_and_description].blank? %>
            <p class="alert alert-info"> Product not found or out of stock.<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> </p>
          <% end %>
        </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h4 class="text-warning">Sales & Repairs 
            <span class="pull-right">
              <%= number_to_currency @cart.total_amount %>
            </span>
          </h4>
        </div>
      </div>
      <div class="card-body">
        <% if @cart.line_items.present? %>
          <h4>
            Items
            <span class="pull-right"><%= number_to_currency @cart.line_items_amount %></span>
          </h4>
          <hr>
          <%= render @cart.line_items.sort_by{|l| l.stock_name } %>
        <% end %>
        <% if @cart.service_charges.present? %>
          <h4>
            Additional Charges
            <span class="pull-right"><%= number_to_currency @cart.additional_charges_amount %></span>
          </h4>
          <hr>
          <%= render @cart.service_charges %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-5" id="cart">
    <% if @cart.items_and_repairs.present? %>
      <div class="card">
        <div class="card-body">
        <div id="member-modal" class="modal fade"></div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-left">
                <h2> <b>Sub Total</b> </h2>
              </div>
              <div class="pull-right">
                <h2><b><%=number_to_currency @cart.total_amount %></b></h2>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <%=simple_form_for @order, url: :orders do |f| %>
                <span>
                  <label>Customer</label>
                  <span class="pull-right">
                    <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                      <button href="#" class="dropdown-toggle btn btn-success btn-xs" data-toggle="dropdown" aria-expanded="false">New Customer <b class="caret"></b></button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li><%=link_to "Regular", new_member_path, remote: true %></li>
                        <li> <%=link_to 'Organization', new_organization_path, remote: true %></li>
                      </ul>
                    </li>
                  </ul>
                  </span>
                </span>
                <%=f.input :customer_id, label: false, collection: Customer.order(:id).all.map{|a| [a.full_name, a.id] }, default: Customer.find_by(first_name: "Guest"), input_html: {id: 'order_customer_id' }%>
                <input type="hidden" name="total" id="total" value="<%= @cart.total_amount %>" oninput="calculateChange()">
                <div class="row">
                  <div class="col-md-5">
                    <%=f.input :pay_type, collection: Order.pay_types.keys.to_a.map{|a| [a.titleize, a]}, selected: Order.pay_types.keys.first %>
                  </div>
                  <div class="col-md-7">
                    <%=f.input :date, as: :string, input_html: {class: 'datepicker', value: Time.zone.now.strftime("%Y-%m-%d %I:%M %p")} %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <%=f.input :cash_tendered, input_html: {oninput: 'calculateChange()', class: 'input-lg'}, label: "Amount Tendered" %>
                  </div>
                  <div class="col-md-6">
                    <%=f.input :change, input_html: { class: 'input-lg'}, readonly: true %>
                  </div>
                </div>
                <hr>
                <br>
                <br>
                <%=f.submit "Checkout", class: 'btn btn-success btn-block btn-lg checkout' %>
                <br>
                <br>
                <br>
                <br>
              <% end %>
              <hr>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="organization-modal" class="modal fade"></div>
<div id="member-modal" class="modal fade"></div>
<div id="service-fee-modal" class="modal fade"></div>
<script>
  $(document).ready(function() {
    $("#order_customer_id").select2({
      theme: "bootstrap",
      width: "100%"
    });
  });
</script>
<!-- <script>
  $(document).ready(function(){
    $('.checkout').prop('disabled',true);
    $('#order_customer_id').change(function(){
      $('.checkout').prop('disabled', this.value == "" ? true : false);     
    })
  });
</script> -->
<!-- <script>
  var checkbox = document.getElementById('order_discount');
  var details_div = document.getElementById('discount_details');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script> -->