<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<div class="row">
						<div class="col-md-4">
							<h3 class="text-center"><%= number_to_currency @cash_on_hand %></h3>
							<p class="text-muted text-center">CASH ON HAND</p>
						</div>
						<div class="col-md-4">
							<h4 class="text-center"></h4>
							<p class="text-muted text-center"></p>
						</div>
						<div class="col-md-4">
							<h4 class="text-center"></h4>
							<p class="text-muted text-center"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-4">
						<%= link_to new_accounting_fund_transfer_path, class: 'btn btn-warning btn-block' do %>
							<h4>Fund Transfer</h4>
						<% end %>
					</div>
					<div class="col-md-4">
						<%= link_to new_accounting_remittance_path, class: 'btn btn-danger btn-block' do %>
							<h4>Remittance</h4>
						<% end %>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>